<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>BLE Proximity</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/main.css') }}" />
	</head>
	<body>
		<h1 class="title">BLE Proximity</h1>
		<p>Scanning for address: {{ proximityAddress }}</p>
		<ol>
			{% for neighbor in neighbors %}
				<li>
					<strong>{{ neighbor.dB }} dB: </strong>
					<span>{{ neighbor.addr }} ({{ neighbor.addrType }})</span>
					<span>{{ neighbor.localName }}</span>
				</li>
			{% endfor %}
		</ol>
	</body>
</html>